@{
    ViewData["Title"] = "Home Page";
}

@model Library.Models.BookListViewModel
@using Library.Models 

<p>
    <a asp-action="Create">Добавить книгу</a>
</p>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Название: </label>
        <input name="name" class="form-control" />

        <label class="control-label">Автор: </label>
        <select name="autor" asp-items="Model.Autors" class="form-control"></select>

        <label class="control-label">Жанр: </label>
        <select name="genre" asp-items="Model.Genres" class="form-control"></select>

        <label class="control-label">Издательство: </label>
        <select name="ph" asp-items="Model.PublishingHouses" class="form-control"></select>

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.PublishingYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.PublishingHouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.StatusString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>   
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingHouse.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusString)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
                    </tr>
                }
            </tbody>
        </table>
